body {
	overflow: hidden;
	margin: 0;
  }
  
  .ui {
	position: absolute;
  }
  
  button{
	background-color: white;
	color: black;
	border: 2px solid #008CBA;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	border-radius: 6px;

	float: left;
	transition-duration: 0.4s;
  }
  

  button:hover {
	background-color: #008CBA;
	color: white;
  }

  .refresh_spec button{
	top:10%;
	left:10%;
  }
  .launch_spec button{
	top:10%;
	left:30%;
  }


	.matchmaking_btns {
		margin-top: 25px;
		display: flex;
		justify-content: center;
		/* cursor: default; */
	}
	
	.divider{
		margin-right: 20px;
	}

	.leave_btn {
		margin-top: 25px;
		text-align: center;
		display: flex;
		justify-content: center;
	}
	
	.leave_machmaking {
		border: 2px solid #ba004d;
	}

	.leave_machmaking:hover {
		background-color: #ba004d;
		color: white;
	}

  .spec_select select{
	float: left;
	top:10%;
	left:20%;

	background-color: white;
	/* background-color: transparent; */
	color: black;
	border: 2px solid #008CBA;
	padding: 10px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	border-radius: 6px;
  }


  input {
	object-position: 50% 50%;
	background-color: white;
	/* background-color: transparent; */
	color: black;
	border: 2px solid #008CBA;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 42px;
	border-radius: 6px;

	transition-duration: 0.4s;
  }

  .centre {
	text-align:center;
	padding-top: 5%;
	}

	.spec{
		height: 40px;
	}

	.loader {
		text-align:center;
		display: inline-block;
		border: 8px solid #f3f3f3; /* Light grey */
		border-top: 8px solid #3498db; /* Blue */
		border-radius: 50%;
		width: 60px;
		height: 60px;
		animation: spin 2s linear infinite;
	  }
	  
	  @keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	  }
  /* div.Nick_Matchmaking
  {
    display: block;
    text-align: center;
}
Nick_Matchmaking
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  } */