body {
	overflow: hidden;
	margin: 0;
  }
  
  .ui {
	position: absolute;
  }
  
  button{
	background-color: white;
	/* background-color: transparent; */
	color: black;
	border: 2px solid #008CBA;
	padding: 10px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	border-radius: 6px;

	float: left;
	transition-duration: 0.4s;
  }
  

  button:hover {
	background-color: #008CBA;; /* Green */
	color: white;
  }

  .refresh_spec button{
	top:10%;
	left:10%;
  }
  .launch_spec button{
	top:10%;
	left:30%;
  }

  .spec_select select{
	float: left;
	top:10%;
	left:20%;

	background-color: white;
	/* background-color: transparent; */
	color: black;
	border: 2px solid #008CBA;
	padding: 10px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	border-radius: 6px;
  }